# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\comp128-f20m1\COMP128-Cipher-Final-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
